 @import url('https://fonts.googleapis.com/css?family=Poppins');
 * {
     font-family: 'Poppins', sans-serif;
 }
/*
body{
    background-image: url(yannis-papanastasopoulos-386381-unsplash.jpg);
    background-size: cover;
}
 
*/
 form {
     z-index: 5;
     margin-top: 10%;
     width: 40%;
     display: flex;
     flex-direction: column;
     margin-left: auto;
     margin-right: auto;
 }
 
 form input {
     border: none;
     height: 30px;
     margin-bottom: 30px;
     border: 1px solid gray;
     border-radius: 2px;
 }
 
 #send {
     border: none;
     color: white;
     padding: 20px 20px 20px 20px;
     background-color: rebeccapurple;
     padding-bottom: 10px;
     padding-top: 10px;
     height: auto;
     font-size: 20px;
     border-radius: 2px;
 }
#overlay{
    width: 800px;
    height: 500px;
    background-color: white;
    position: absolute;
    opacity: .5;
    top:120px;
    left: 320px;
    z-index: -1
}

      #map {
        height: 100%;
      }
